.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chatBox{
  max-width: 95%;
  margin: 2%;
}

.answerBox{
  width: 95%;
  margin: 2%;
  height: 20rem;
  border: 2px solid;
  border-color: black;
}

 @media (min-width: 576px) {
.react-chat-container {
    max-width: 100%!important;
}
 }

@media (min-width: 768px){
.react-chat-container {
    max-width: 100%!important;
}
}

@media (min-width: 992px){
.react-chat-container {
    max-width: 100% !important;
}
}
@media (min-width: 1200px){
.react-chat-container {
    max-width: 100% !important;
}
}

.react-chat-viewerBox{
  margin:1% 0% 0% 2.5%;
  border: 3px solid;
  border-color: black;
  border-radius: 45px;
  box-shadow: 12px 8px 11px 4px #828080;
}

.react-chat-inputBox {
  border: 1px solid;
  border-radius: 9px;
}

.loading-gif{
  position:absolute;  
  z-index: 9999;
  margin-left: -13%;
}